.click-on-me {
  font-size: 2em;
  font-weight: 400;
  margin: 2em auto;
  color: $color-text;
  height: fit-content;
}

.link {
  color: $color-text;
}

a:hover {
  color: #6f4d13;
}

.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: $main-white;
  max-width: 83.5em;
  max-height: 41em;
  padding: 7em 5.1em;
  margin: auto;
  box-shadow: 0em 1em 0.4em rgba(0, 0, 0, 0.25);
  border-radius: 6em;
  position: relative;
  width: 100%;
  z-index: 4;
}

.close-modal {
  right: -36rem;
  top: -2.8rem;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.left {
  width: 3.34rem;
  height: 0.3rem;
  background-color: $main-grey;
  transform: rotate(45deg);
  border-radius: 0.2rem;
  position: absolute;
}
.right {
  width: 3.34rem;
  height: 0.3rem;
  background-color: $main-grey;
  transform: rotate(-45deg);
  border-radius: 0.2rem;
  position: absolute;
}

.img {
  position: absolute;
  width: 27.05em;
  height: 28.05em;
  top: -5.1em;
}

.title {
  padding-left: 37.2rem;
  font-size: 4.8rem;
  line-height: 6.1rem;
  letter-spacing: -0.02em;
}
.text {
  padding-left: 37.2rem;
  padding-top: 3.7rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
}

.form {
  padding-top: 4.4rem;
  width: 73.3rem;
  height: 6.9rem;
  position: relative;
  :active,
  :focus {
    outline: none;
  }

  input {
    width: 73.3rem;
    height: 6.9rem;
    background: #eee9dd;
    border: 0.1rem solid $main-grey;
    border-radius: 3rem;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-left: 3.1rem;
    font-weight: 600;
    font-family: Gelasio;
  }
  ::placeholder {
    color: $main-grey;
  }
}

.btn {
  background: #ebbf53;
  border-radius: 0px 30px 30px 0px;
  color: $main-white;
  height: 6.9rem;
  border: none;
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 21rem;
  position: absolute;
  left: 52.3rem;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.hide {
  display: none;
}
